
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container col-sm-12 col-md-12" style="padding:0%;margin:0%">
    <h2>Seguimiento solicitud</h2>
    <div class="row">
        <div class="col-xs-3">
            <label for="IDSolicitud">ID Solicitud</label>
            <input type="number" class="form-control" id="IDSolicitud" placeholder="ID Solicitud" />
        </div>
        <div class="col-xs-2">
            <br />
            <button type="button" class="btn btn-info" onclick="ConsultarSolicitud();">Consultar Solicitud</button><br /><br />
        </div>
    </div>
    <div class="col-sm-12 col-md-12" style="padding:0%;margin:0%" id="divDatos" hidden="hidden">
        <table class="table table-bordered table-hover table-responsive table-striped text-center" id="DatoSolicitud">
            <thead class="bg-info">
                <tr>
                    <th>
                        ID Seguimiento
                    </th>
                    <th>
                        Fecha Laborada
                    </th>
                    <th>
                        Horas Normales
                    </th>
                    <th>
                        Horas Extras
                    </th>
                    <th>
                        Horas Dobles
                    </th>
                    <th>
                        Trabajo Realizado
                    </th>
                    <th>
                        Modificar/Eliminar
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>

        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-info" onclick="Limpiar();">Limpiar</button><br /><br />
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="cargarAgregar();">Agregar Seguimiento</button><br /><br />
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>


</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Seguimiento</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="IDSeguimiento">ID Seguimiento</label>
                                <input type="text" class="form-control" id="IDSeguimiento" placeholder="ID Seguimiento" readonly="readonly" />
                            </div>
                            <div class="col-xs-6">
                                <label for="Fecha">Fecha</label>
                                <input type="date" class="form-control" id="Fecha" placeholder="Fecha" />


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="HorasNormales">Horas Normales</label>
                                <input type="number" class="form-control" id="HorasNormales" placeholder="0" />
                            </div>
                            <div class="col-xs-6">
                                <label for="HorasExtras">Horas Extras</label>
                                <input type="number" class="form-control" id="HorasExtras" placeholder="0" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="HorasDobles">Horas Dobles</label>
                                <input type="number" class="form-control" id="HorasDobles" placeholder="0" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="Reporte">Reporte:</label>
                                <textarea id="Reporte" class="form-control" rows="4" style="resize:none;width:100%;max-width:none"></textarea>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return clearTextBox();">Cerrar</button>
            </div>
        </div>
    </div>

</div>



@section Scripts
{
    @Scripts.Render("/JS/Seguimiento.js");
}

