@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h1>Mantenimiento de Empleados</h1>
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn bg-orange waves-effect" data-toggle="modal" data-target="#myModal" onclick="cargarAgregar();">Agregar Empleado</button><br /><br />
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover js-basic-example dataTable" id="DatoEmpleado">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Primer Apellido</th>
                                        <th>Segundo Apellido</th>
                                        <th>Correo</th>
                                        <th>Estado</th>
                                        <th>Modificar</th>
                                        <th>Habilitar/Deshabilitar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Datos del Empleado</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="tipo">Tipo</label>
                                    <select class="form-control" name="tipo" id="tipo" onchange="CAMBIO_CMB();">
                                        <option value="0">Seleccione una opción.</option>
                                        <option value="1">Física</option>
                                        <option value="2">Jurídica</option>
                                        <option value="3">Nite</option>
                                        <option value="4">Dimex</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label for="Cedula">Cedula</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="Cedula" placeholder="Cedula" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="Nombre">Nombre</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="Primer_Apellido">Primer Apellido</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="Primer_Apellido" placeholder="Primer Apellido" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="Segundo_Apellido">Segundo Apellido</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="Segundo_Apellido" placeholder="Segundo Apellido" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="Correo">Correo</label>
                                    <div class="form-line">
                                        <input type="email" class="form-control" id="Correo" placeholder="Correo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-orange waves-effect" id="btnAdd" onclick="return AgregarEmpleado();"><i class="material-icons">save</i></button>
                    <button type="button" class="btn bg-orange waves-effect" id="btnUpdate" style="display:none;" onclick="ModificarEmpleado();"><i class="material-icons">save</i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return clearTextBox();"><i class="material-icons">close</i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @Scripts.Render("/JS/Empleados.js")
}





