
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h1>Tablas intermedias</h1>
        </div>
        <div class="row clearfix">

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-line">
                            <label for="Tablas">Acción a realizar:</label>

                            <select name="tabla" id="tabla" class="form-control" onchange="ActualizarCombobox();">
                                <option>-- Seleccione una opción --</option>
                                <option value='0'>Ligar departamentos a cliente</option>
                                <option value='1'>Ligar equipos a departamento</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-line">
                            <label for="Valor_seleccionar">Seleccione el registro a modificar:</label>
                            <select name="intermedios" id="intermedios" class="form-control" onchange="ActualizarTablas();">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-header">
            <h3>Datos no ligados</h3>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover js-basic-example dataTable" id="DatosNOLigados">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Descripción</th>
                                    <th>Ligar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-header">
            <h3>Datos ligados</h3>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover js-basic-example dataTable" id="DatosLigados">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Descripción</th>
                                    <th>Desligar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

@section Scripts
{
    @Scripts.Render("/JS/Intermedios.js");
}

