@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body>
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>Ingreso de Solicitud</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn bg-orange waves-effect" id="btnAdd" onclick="return AgregarNuevaSolicitud();"><i class="material-icons">save</i></button>
                <button type="button" class="btn bg-orange waves-effect" data-dismiss="modal" onclick="return clearTextBox();"><i class="material-icons">close</i></button>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form id="wizard_with_validation" method="POST">
                        <h3>Datos del cliente</h3>
                        <fieldset>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Provincias">* Provincia</label>
                                    <select name="sltProvincia" id="Provincias" class="form-control" aria-required="true" onchange="CargarCliente();" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Cliente">* Cliente</label>
                                    <select name="sltcliente" id="Cliente" class="form-control" aria-required="true" onchange="CargarDepartamentos();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Departamento">* Departamento</label>
                                    <select name="sltDepartamento" id="Departamento" class="form-control" aria-required="true" onchange="CargarEquipos();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Equipo">* Equipo</label>
                                    <select name="sltEquipo" id="Equipo" class="form-control" aria-required="true">
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <h3>Fecha y horas</h3>
                        <fieldset>
                            <div class="form-group form-float">
                                <div class="col-xs-4">
                                    <label for="fechaReporte">* Fecha Reporte:</label>
                                    <div class="form-line">
                                        <input type="date" class="form-control" id="fechaReporte" aria-required="true" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="horaEntrada">* Hora Entrada:</label>
                                    <div class="form-line">
                                        <input type="time" class="form-control" id="horaEntrada" aria-required="true" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="horaSalida">* Hora Salida:</label>
                                    <div class="form-line">
                                        <input type="time" class="form-control" id="horaSalida" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-xs-12">

                            </div>
                            <br />
                            <div class="form-group form-float">
                                <div class="col-xs-4">
                                    <label for="tipoHora">* Tipo Hora:</label>
                                    <div class="form-line">
                                        <select id="tipoHora" class="form-control" required="" aria-required="true">
                                            <option>Extra</option>
                                            <option>Normal</option>
                                            <option>Doble</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h3>Descripción</h3>
                        <fieldset>
                            <div class="form-group form-float">
                                <div class="col-xs-6">

                                    <div class="form-line">
                                        <label for="Empleados">* Empleado:</label>

                                        <select name="sltEmpleados" id="Empleados" class="form-control" aria-required="true">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-line">
                                        <label for="TipoTrabajo">* Tipo Trabajo:</label>

                                        <select name="sltTipoTrabajo" id="tipoTrabajo" class="form-control" aria-required="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="col-xs-12">
                                    <label for="motivoVisita">* Motivo de Visita/Llamada:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="motivoVisita" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="motivoDetalle">* Descripción del trabajo: </label>
                                    <div class="form-line">
                                        <textarea id="motivoDetalle" class="form-control" rows="4" style="resize:none;width:100%;max-width:none" aria-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="solicitudRepuestos">Repuestos: </label>
                                    <div class="form-line">
                                        <textarea id="solicitudRepuestos" class="form-control" rows="4" style="resize:none;width:100%;max-width:none" aria-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label for="equipoDetenido">Equipo Detenido: </label>
                                    <div class="form-line">
                                        <select id="equipoDetenido" class="form-control" required="" aria-required="true">
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="tiempoDetenido">Tiempo Detenido: </label>
                                    <div class="form-line">
                                        <input type="time" class="form-control" id="tiempoDetenido" aria-required="true" placeholder="HH:MM"/>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h3>Validación informe</h3>
                        <fieldset>
                            <div class="form-group form-float">
                                <div class="col-xs-6">
                                    <label for="cedulaMQC">* Cédula del MQC:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="cedulaMQC" aria-required="true" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="nombreMQC">* Nombre Completo del MQC:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="nombreMQC" aria-required="true" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="correoMQC">* Correo del MQC:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="correoMQC" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                            <div id="signature-pad" class="signature-pad">
                                <div class="signature-pad--body">
                                    <canvas id="firma"></canvas>
                                </div>
                                <div class="signature-pad--footer">
                                    <div class="description">* Firme aquí</div>

                                    <div class="signature-pad--actions">
                                        <div>
                                            <button type="button" class="btn btn-default waves-effect clear" data-action="clear"><i class='material-icons'>clear</i></button>
                                            <button type="button" class="btn btn-default waves-effect" data-action="undo"><i class='material-icons'>undo</i></button>
                                            <!--<button type="button" class="btn btn-default waves-effect save" data-action="save-png"><i class='material-icons'>save</i></button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="~/Content/js/signature_pad.umd.js"></script>
                            <script src="~/Content/js/app.js"></script>
                        </fieldset>
                        <div class="form-group form-float">
        <div class="form-line">
        </div>
        <br />
        <div class="col-xs-4">
            <p style="color:orangered">* Campos Obligatorios</p>
        </div>
    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts
{
    @Scripts.Render("/JS/CrearSolicitud.js");
}