@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h1>Ingreso de Solicitud</h1>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form id="wizard_with_validation" method="POST">
                                <h3>Selección del cliente</h3>
                                <fieldset>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Provincias">Provincia</label>
                                            <select name="sltProvincia" id="Provincias" class="form-control" aria-required="true">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Cliente">Cliente</label>
                                            <select name="sltcliente" id="Cliente" class="form-control" aria-required="true">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Departamento">Departamento</label>
                                            <select name="sltDepartamento" id="Departamento" class="form-control" aria-required="true">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Equipo">Equipo</label>
                                            <select name="sltEquipo" id="Equipo" class="form-control" aria-required="true">
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>

                                <h3>Fecha y horas</h3>
                                <fieldset>
                                    <div class="form-group form-float">
                                        <div class="col-xs-4">
                                            <label for="fechaReporte">Fecha Reporte:</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" id="fechaReporte" aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="horaEntrada">Hora Entrada:</label>
                                            <div class="form-line">
                                                <input type="time" class="form-control" id="horaEntrada" aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="horaSalida">Hora Salida:</label>
                                            <div class="form-line">
                                                <input type="time" class="form-control" id="horaSalida" aria-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="col-xs-4">
                                            <label for="tipoHora">Tipo Hora:</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" id="tipoHora" aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="cantidadHoras">Cantidad de Horas:</label>
                                            <div class="form-line">
                                                <input type="number" class="form-control" id="cantidadHoras" aria-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <h3>Descripción</h3>
                                <fieldset>
                                    <div class="form-group form-float">
                                        <div class="col-xs-6">
                                            
                                            <div class="form-line">
                                                <label for="Empleados">Empleado:</label>

                                                <select name="sltEmpleados" id="Empleados" class="form-control" aria-required="true">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-line">
                                                <label for="TipoTrabajo">Tipo Trabaj:</label>

                                                <select name="sltTipoTrabajo" id="tipoTrabajo" class="form-control" aria-required="true">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            <div class="form-group form-float">
                                <div class="col-xs-12">
                                    <label for="motivoVisita">Motivo de Visita:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="motivoVisita" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="motivoDetalle">Motivo de Detalle:</label>
                                    <div class="form-line">
                                        <textarea id="motivoDetalle" class="form-control" rows="4" style="resize:none;width:100%;max-width:none" aria-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="solicitudRepuestos">Solicitud Repuestos:</label>
                                    <div class="form-line">
                                        <textarea id="solicitudRepuestos" class="form-control" rows="4" style="resize:none;width:100%;max-width:none" aria-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label for="equipoDetenido">Equipo Detenido:</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="equipoDetenido" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                            </fieldset>

                            <h3>Firma</h3>
                            <fieldset>
                                <div id="signature-pad" class="signature-pad">
                                    <div class="signature-pad--body">
                                        <canvas></canvas>
                                    </div>
                                    <div class="signature-pad--footer">
                                        <div class="description">Firme aquí</div>

                                        <div class="signature-pad--actions">
                                            <div>
                                                <button type="button" class="btn btn-default waves-effect clear" data-action="clear"><i class='material-icons'>clear</i></button>
                                                <button type="button" class="btn btn-default waves-effect" data-action="undo"><i class='material-icons'>undo</i></button>
                                                <button type="button" class="btn btn-default waves-effect save" data-action="save-png"><i class='material-icons'>save</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="~/Content/js/signature_pad.umd.js"></script>
                                <script src="~/Content/js/app.js"></script>
                            </fieldset>
                            <button type="button" class="btn btn-primary waves-effect" id="btnAdd" onclick="return Add();">Enviar</button>
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" onclick="return clearTextBox();">Cerrar</button>
                            <button type="button" class="btn btn-primary waves-effect" id="btnPrint" onclick="return Add();">Imprimir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

@section Scripts
{
    @Scripts.Render("/JS/CrearSolicitud.js");
}