@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container col-sm-12 col-md-12" style="padding:0%;margin:0%">
    <h2>Solicitud</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="cargarAgregar();">Agregar Solicitud</button><br /><br />
    <div class="col-sm-12 col-md-12" style="padding:0%;margin:0%">
        <table class="table table-bordered table-hover table-responsive table-striped text-center" id="DatoSolicitud">
            <thead class="bg-info">
                <tr>
                    <th>
                        ID Solicitud
                    </th>
                    <th>
                        Centro
                    </th>
                    <th>
                        Area de Trabajo
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Cedula Encargado
                    </th>
                    <th>
                        Fecha de reporte
                    </th>
                    <th>
                        Reporte
                    </th>
                    <th>
                        Modificar/Eliminar
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>

    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Solicitud</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="IDSolicitud">IDSolicitud</label>
                                <input type="text" class="form-control" id="IDSolicitud" placeholder="ID Solicitud" readonly="readonly" />
                            </div>
                            <div class="col-xs-6">
                                <label for="provincia">Provincia:</label>
                                <select name="sltprovincia" id="provincia" class="form-control">
                                </select>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="Area">Area de trabajo</label>
                                <select name="sltArea" id="Area" class="form-control">
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="Centro">Centro</label>
                                <select name="sltCentro" id="Centro" class="form-control">
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="Cliente">Cliente</label>
                                <input type="text" class="form-control" id="Cliente" placeholder="Cliente" />

                            </div>
                            <div class="col-xs-6">
                                <label for="Encargado">Encargado</label>
                                <input type="text" class="form-control" id="Encargado" placeholder="Encargado" readonly="readonly" value="@ViewBag.data" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="Fecha">Fecha</label>
                                <input type="date" class="form-control" id="Fecha" placeholder="Fecha" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="Reporte">Reporte:</label>
                                <textarea id="Reporte" class="form-control" rows="4" style="resize:none;width:100%;max-width:none"></textarea>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return clearTextBox();">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("/JS/CrearSolicitud.js");
}


